#home__container {
  margin-top: 2em;
  padding: 0 1.3em;
  @media (min-width: 515px) {
    padding: 0 5.5em;
  }
  header {
    @media (min-width: 515px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      flex-direction: row-reverse;
    }
    #profile__text {
      @media (min-width: 515px) {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 37.5%;
      }
    }
    #profile {
      background-size: cover;
      width: 100%;
      margin-bottom: 1em;
      border-radius: 10px;
      @media (min-width: 515px) {
        width: 30em;
      }
    }
    #home__paragraph {
      @media (min-width: 413px) {
        font-size: 0.9rem;
      }
      @media (min-width: 515px) {
        text-align: left;
        font-size: 1.2rem;
        margin-bottom: 1.5em;
      }
      font-size: 0.822rem;
      text-align: center;
      line-height: 159%;
      color: var(--secondaryTextColor);
      margin-top: 1em;
      #resume {
        margin-left: 0.1em;
      }
    }
    #btns__wrapper {
      margin-top: 1em;
      display: flex;
      justify-content: space-between;
      @media (min-width: 515px) {
        width: auto;
      }
      .btn__link {
        text-decoration: none;
        .btn {
          @media (min-width: 515px) {
            width: 12em;
            height: 4em;
          }
          width: 9.5em;
          height: 3.4rem;
          border: none;
          color: white;
          font-size: 1rem;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 6px;
          img {
            margin-right: 0.4em;
          }
        }
      }
      #linkedin__btn {
        background-color: #15487d;
        margin-right: 1.5em;
        cursor: pointer;
      }
      #github__btn {
        background-color: #000000;
        cursor: pointer;
      }
    }
  }
  .sections__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    @media (min-width: 515px) {
      align-items: flex-start;
    }
    .title__bar__wrapper {
      display: flex;
      width: 100%;
    }
    .title__wrapper {
      margin-bottom: 1.5em;
      .title__bar {
        width: 52px;
        height: 0.45em;
        background-color: var(--primaryColor);
        border-radius: 10px;
      }
      #bottom__right {
        flex-direction: row-reverse;
      }
    }
    #testimonials__wrapper {
      .reviews__wrapper {
        width: 100%;
        height: 235px;
        background: #fcfcfc;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.11);
        border-radius: 20px;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        @media (min-width: 515px) {
          justify-content: flex-start;
          align-items: center;
          width: 30em;
          height: 18em;
          padding: 2em;
        }
        #review__text {
          text-align: center;
          font-style: italic;
          font-weight: 800;
          font-size: 0.75rem;
          @media (min-width: 515px) {
            font-size: 0.9rem;
          }
        }
        .reviewer__wrapper {
          width: 100%;
          margin-top: 0.5em;
          @media (min-width: 515px) {
            font-size: 0.9rem;
            margin-top: 1em;
          }
        }
      }
      #alroaaacademy__img {
        width: 5em;
      }
    }
  }
}

.home__titles {
  text-transform: uppercase;
  @media (min-width: 413px) {
    font-size: 1.7rem;
  }
  @media (min-width: 515px) {
    text-align: left;
    font-size: 2.5rem;
  }
  font-size: 1.55rem;
  font-weight: 900;
  text-align: center;
  line-height: 132.66%;
}

.filters {
  width: auto;
  display: flex;
  margin-bottom: 1em;
  height: 3.5em;
  overflow-x: scroll;
  padding-left: 0.3em;
  @media (min-width: 515px) {
    overflow-x: hidden;
  }
  .filter__button {
    @media (min-width: 515px) {
      font-size: 16px;
    }
    max-width: auto;
    cursor: pointer;
    white-space: nowrap;
    padding: 0 1.5em;
    height: 2.7em;
    background: none;
    border: none;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
    border-radius: 8px;
    font-size: 14px;
    opacity: 0.5;
    margin-right: 1em;
    font-weight: 600;
    transition: all 220ms ease-out;
  }
}
#recent__projects {
  width: 100%;
  a {
    text-decoration: none;
  }
  .projects {
    @media (min-width: 515px) {
      display: flex;
      flex-wrap: wrap;
    }
    .project {
      background: var(--projectColor);
      height: 25em;
      width: 100%;
      margin-right: 1.97em;
      @media (min-width: 515px) {
        width: 26em;
        height: 28em;
        margin-bottom: 2.5em;
        padding: 1.5em;
      }
      margin-bottom: 1.5em;
      border-radius: 18px;
      padding: 1em;
      color: var(--projectsTextColor);
      .project__category {
        font-size: 0.75rem;
        opacity: 0.85;
      }
      .project__name {
        font-size: 1.5rem;
      }
      .project__date {
        font-size: 0.65rem;
        opacity: 0.85;
      }
      .project__techs {
        margin-top: 0.5em;
        display: flex;
        align-items: center;
        .project__tech {
          margin-right: 0.5em;
        }
      }
      .project__image__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70%;
        .project__image {
          width: 13em;
          border-radius: 8px;
        }
      }
    }
  }
}

.filter__active {
  color: var(--primaryColor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15) !important;
  opacity: 1 !important;
  transition: all 220ms ease-in;
}

#testimonials {
  @media (min-width: 515px) {
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 100%;
  }
}
