nav {
  #testimonials {
    @media (min-width: 515px) {
      display: block;
      width: auto;
    }
  }
  padding: 0 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5em;
  position: sticky;
  background-color: var(--mainBackgroundColor);
  top: 0;
  transition: all 220ms ease-out;
  z-index: 99999;
  @media (min-width: 515px) {
    height: 8em;
  }
  #nav__pc {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    @media (min-width: 515px) {
      display: flex;
    }
    .nav__link {
      opacity: 0.5;
      list-style: none;
      cursor: pointer;
    }
  }
  @media (min-width: 515px) {
    padding: 0 5.5em;
  }
  #nav__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    @media (min-width: 515px) {
      display: none;
    }
    .button__bar {
      width: 3em;
      height: 0.2em;
      background-color: var(--primaryColor);
      margin-bottom: 0.33em;
      border-radius: 10px;
      &:nth-child(1) {
        width: 2em;
      }
      &:nth-child(2) {
        width: 2.5em;
      }
    }
  }
}

.nav__active {
  opacity: 1 !important;
}
a {
  text-decoration: none;
}
.nav__bar__wrapper {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  display: none;
}
.nav__bar {
  height: 0.2em;
  width: 0em;
  border-radius: 10px;
  margin-bottom: 0.35em;
  background-color: var(--primaryColor);
  transition: all 500ms cubic-bezier(0, 0.52, 0, 1);
}
.nav__right {
  margin-top: 0.35em;
}
.nav__bar__active {
  width: 1em !important;
  transition: all 500ms cubic-bezier(0, 0.52, 0, 1);
}
.nav__bar__mobile__active {
  display: block !important;
  left: 0em !important;
  transition: all 1.5s cubic-bezier(0, 0.52, 0, 1);
}

#nav__scroll {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 220ms ease-in;
}


