footer{
 display:flex;
 justify-content:center;
 align-items:center;
 background-color:var(--primaryColor) ;
 color:white;
 text-align:center;
 height: 9em;
 #copyrights__text{
     font-size:0.8rem;
     font-weight:200;
     
 }
 #footer__imgs__wrapper{
     display:flex;
     margin-top:0.7em;
     width:100%;
     justify-content:space-between;
     align-items:center;
     .footer__img{
         width:1.4em;
     }
 }
}