* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-size: cover;
  font-family: "Nunito", sans-serif;
}

.logo {
  font-family: "Staatliches", cursive;
  font-size: 2.1rem;
  color: var(--textcolor);
}

:root {
  --mainBackgroundColor: #fcfcfc;
  --textColor: #000000;
  --secondaryTextColor: #797979;
  --primaryColor: #551790;
  --projectsColor: linear-gradient(
    359.8deg,
    #541690 1.58%,
    rgba(84, 22, 144, 0.78) 99.83%
  );
  --formColor: #745690;
}
